@import url(http://fonts.googleapis.com/css?family=Varela+Round);

@import url(reset.css);

body {
	background-image: url(../img/tileable_wood_texture.png);
	background-repeat: repeat;
	font-family: 'Varela Round', sans-serif;
	font-size: 18px;
	padding: 10px;
	color: #FFF;
}

p {
	padding: 10px;
}

.logo {
	width: 200px;
	float: right;
}

.dawgpizza {
	width: 200px;
	position: absolute;
	right: 9px;
	top: 170px;
}

.content-box {
	width: 80%;
	background-image: url(../img/dark_wood.png);
	background-repeat: repeat;
	margin-left: 50% auto;
	box-shadow: 1px 1px 4px #555;
}

.pizzapicture {
	width: 500px;
	float: right;
	margin: 10px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	padding: 10px;
	font-weight: bold;
	font-size: 120%;
	text-align: left;
	color: #875ac6;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}

.content-box p a {
	color: blue;
}

.content-box p a:link,
.content-box p a:visited {
	text-decoration: none;
}

.content-box p a:hover {
	text-decoration: underline;
}

h1 {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}

section {
	padding: 10px;
}

.menu ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

.menu ul li {
	padding-bottom: 10px;
}

.menu li ul{
	list-style-type: circle;
	padding-top: 10px;
	padding-left: 50px;
}

.menu li ul li ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 10px;
}

.special {
	margin-bottom: 15px;
	color: yellow;
}

.ovencounter {
	width: 500px;
}