@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);

@import url(reset.css);

body {
	/*background-image: url(../img/tileable_wood_texture.png);*/
	/*background-repeat: repeat;*/
	background-color: #ecf8f1;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 10px;
	color: #333745;
}

<<<<<<< HEAD
=======
/*.grid {
	border: 1px dotted #CCC;
}

.grid, .col1, .col2 {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col1 {
	width: 200px;
	border: 1px dotted #CCC;
}

.col2 {
	float: right;
	width: 70%;
	border: 1px dotted #CCC;
}

.grid {
	border: 1px dotted #CCC;
}

.grid-table .col {
	display: table-cell;
}*/

>>>>>>> 404d4b774cf64443d08d8793050bd434591f6f61
.navigation-bar {
	position: absolute;
	padding-top: 100px;
	clear: both;
}

.content-body {
}

.footer {
	color: black;
}

p {
	padding: 10px;
}

.logo {
<<<<<<< HEAD
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 130px;
	/*padding-left: 30px*/
=======
	width: 150px;
	padding-left: 30px
>>>>>>> 404d4b774cf64443d08d8793050bd434591f6f61
}

.dawgpizza {
	width: 200px;
	right: 9px;
	top: 170px;
}

.menu-box {
	width: 20%;
	/*margin-left: 50% auto;*/
<<<<<<< HEAD
=======
}

.content-box {
	width: 80%;
/*	margin-right: 50% auto;*/
}

.pizzapicture {
	float: right;
	width: 70%;
	margin: 10px;
>>>>>>> 404d4b774cf64443d08d8793050bd434591f6f61
}

.content-box {
	width: 80%;
/*	margin-right: 50% auto;*/
}

<<<<<<< HEAD
.pizzapicture {
	width: 50%;
}

nav {
=======
nav {
	padding-left: 35px;
>>>>>>> 404d4b774cf64443d08d8793050bd434591f6f61
	top: 200px;
	line-height: 250%;
	letter-spacing: 1px;
	text-align: center;
}

nav a {
	padding: 10px;
	font-size: 120%;
	color: #333745;
}

nav a:link,
nav a:visited {
	text-decoration: none;
}

nav a:hover {
	font-size: 115%;
	font-weight: bold;
	color: #b05e27;
}

.content-box p a {
	color: blue;
}

.content-box p a:link,
.content-box p a:visited {
	text-decoration: none;
}

.content-box p a:hover {
	text-decoration: underline;
}

h1 {
	padding: 10px;
	font-size: 30px;
	font-weight: bold;
	text-decoration: underline;
}

h2 {
	padding: 10px;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: bold;
}

section {
	padding: 10px;
}

section p:first-of-type:first-line {
	margin-left: 1em;
}

.menu ul {
	padding-left: 30px;
	padding-bottom: 10px;
}

.menu ul li {
	padding-bottom: 10px;
}

.menu li ul{
	list-style-type: circle;
	padding-top: 10px;
	padding-left: 50px;
}

.menu li ul li ul {
	list-style-type: none;
	padding-top: 3px;
	padding-left: 15px;
}

.special {
	margin-bottom: 15px;
	color: yellow;
}

.order-counter {
	padding: 10px;
	width: 350px;
	float: right;
}

.pizzaoven {
	float: right;
	padding: 10px;
	width: 350px;
}

aside {
	float: right;
	padding: 10px;
	background-color: #EEE;
	border: 1px;
	color: black;
}